:root {
	--primary-color: #1b203d;
	--secondary-color: #2699fb;
	--warn-color: #fa4b3d;
	--success-color: #34b138;
	--light-gray: #e0e0e0;
	--dark-gray: #707070;
}

html {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

header .search input[type=text] {
	padding: 1rem;
	margin: 1rem 0rem 1rem 1rem;
	box-sizing: border-box;
	border: 2px solid var(--primary-color);
	border-radius: 4px 0px 0px 4px;
	width: 25rem;
}

header .search button {
	text-decoration: none;
	color: #ffffff;
	background-color: var(--primary-color);
	margin: 1rem 1rem 1rem -0.5rem;
	padding: 17px;
	border: 1px solid var(--primary-color);
	border-radius: 0px 4px 4px 0px;
}

header .actions a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

header .actions a:hover {
	background-color: #fafafa;
}

header .sign-up a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* Top-bar
-------------------------------*/
.top-bar {
	margin: 2.5rem 10rem 0rem 10rem;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-between;
}

.top-bar__title {
	display: flex;
	color: var(--primary-color);
}

.top-bar__actions {
	display: flex;
	align-items: center;
}

.top-bar__view {
	font-size: 1.5rem;
	color: var(--light-gray);
}

.top-bar__view i.active {
	color: var(--dark-gray);
}

.top-bar__view a {
	color: unset;
}

.top-bar__sort {
	margin-left: 2rem;
}

/* Content
-------------------------------*/
.content {
	display: flex;
}

/* Side-bar
-------------------------------*/
.side-bar {
	margin: 0rem 2.5rem 0rem 10rem;
}

.side-bar h3 {
	color: var(--primary-color);
	text-transform: uppercase;
}

/* Product Grid
-------------------------------*/
.product-grid {
	width: 100%;
	margin: 2rem 10rem 0rem 0rem;
}

/* Product List
-------------------------------*/
.product-list {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-height: 10rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--light-gray);
}

.product-list img {
	width: 10rem;
	height: 10rem;
	margin-right: 1rem;
	object-fit: cover;
	object-position: center;
	-o-object-fit: cover;
	-o-object-position: center;
}

.product-list__title {
	display: flex;
	flex-direction: column;
}

.product-list__title a {
	color: black;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}

.product-list__title p {
	margin: 0.25rem 0 0 0;
	color: var(--dark-gray);
}

.product-list__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.product-list__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.product-list__price {
	font-size: 2rem;
	font-weight: 500;
	color: var(--dark-gray);
}

.product-list__actions button {
	background-color: var(--warn-color);
	border: 2px solid var(--warn-color);
	border-radius: 4px;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	display: inline-block;
	font-size: 16px;
}

.product-list__actions button:hover {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--warn-color);
	color: var(--warn-color);
}

.product-list__actions button.favorite-button {
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
}

.product-list__actions button.favorite-button:hover {
	background-color: transparent;
	color: var(--secondary-color);
}

/* Small button
-------------------------------*/
.small-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	border-radius: 4px;
	font-weight: 600;
	margin: 1rem 0;
	width: 122px;
	height: 26px;
}

.small-button:hover {
	color: var(--secondary-color);
	background-color: transparent;
}
