:root {
	--primary-color: #1b203d;
	--secondary-color: #2699fb;
	--light-gray: #e0e0e0;
}

html {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 1rem;
}

header .search {
}

header .search input[type=text] {
	padding: 1rem;
	margin: 1rem 0rem 1rem 1rem;
	box-sizing: border-box;
	border: 2px solid var(--primary-color);
	border-radius: 4px 0px 0px 4px;
	width: 25rem;
}

header .search a {
	text-decoration: none;
	color: #ffffff;
	background-color: var(--primary-color);
	margin: 1rem 1rem 1rem -0.5rem;
	padding: 15.5px;
	border: 1px solid var(--primary-color);
	border-radius: 0px 4px 4px 0px;
}

header .actions a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

header .actions a:hover {
	background-color: #fafafa;
}

header .sign-up a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

#logo {
	width: 100px;
}

main .hero {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/background.png');
	background-color: #002046;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	display: flex;
	flex-direction: column;
}

main h1 {
	color: #ffffff;
	text-transform: uppercase;
}

main .actions {
	color: #ffffff;
}

main .actions button {
	background-color: red;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	display: inline-block;
	font-size: 16px;
}

main .actions button:hover {
	cursor: pointer;
}

main .categories {
	display: flex;
	flex-direction: row;
	margin-bottom: -10rem;
	margin-top: 10rem;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	color: var(--primary-color);
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin: 1rem;
	padding: 1rem;
	width: 13rem;
}

.card img {
	width: 13rem;
	height: 100px;
	object-fit: cover;
}

.card h3 {
	margin: 0;
	margin-bottom: 1rem;
}
