:root {
	--primary-color: #1b203d;
	--secondary-color: #2699fb;
	--warn-color: #fa4b3d;
	--success-color: #34b138;
	--light-gray: #e0e0e0;
	--dark-gray: #707070;
}

html {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

header .search input[type=text] {
	padding: 1rem;
	margin: 1rem 0rem 1rem 1rem;
	box-sizing: border-box;
	border: 2px solid var(--primary-color);
	border-radius: 4px 0px 0px 4px;
	width: 25rem;
}

header .search button {
	text-decoration: none;
	color: #ffffff;
	background-color: var(--primary-color);
	margin: 1rem 1rem 1rem -0.5rem;
	padding: 17px;
	border: 1px solid var(--primary-color);
	border-radius: 0px 4px 4px 0px;
}

header .actions a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

header .actions a:hover {
	background-color: #fafafa;
}

header .sign-up a {
	text-decoration: none;
	color: var(--primary-color);
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

main .hero {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/background.png');
	background-color: #002046;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	display: flex;
	flex-direction: column;
}

main .call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .call-to-action h1 {
	color: #ffffff;
	text-transform: uppercase;
}

main .call-to-action .actions {
	color: #ffffff;
}

main .call-to-action .actions button {
	background-color: red;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	display: inline-block;
	font-size: 16px;
}

main .call-to-action .actions button:hover {
	cursor: pointer;
}

main .categories {
	display: flex;
	flex-direction: row;
	margin-bottom: -10rem;
	margin-top: 10rem;
}

/* Category Card */
.category-card {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	color: var(--primary-color);
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin: 1rem;
	padding: 1rem;
	width: 13rem;
}

.category-card img {
	width: 13rem;
	height: 100px;
	object-fit: cover;
}

.category-card h3 {
	margin: 0;
	margin-bottom: 1rem;
}

/*
	Product Card
*/
.product-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	width: 260px;
}

.product-card:hover {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

.product-card img {
	display: block;
	width: 100%;
	height: 8rem;
	object-fit: cover;
	transition: 0.25s;
}

.product-card:hover img {
	object-position: 50% 60%;
}

.product-card h4 {
	margin: 1rem 1rem 0rem 1rem;
}

.product-card p {
	margin: 0rem 0rem 4rem 1rem;
	color: var(--dark-gray);
	font-size: 12px;
}

.product-card__title {
	margin-top: 1rem;
}

.product-card__title a {
	margin: 1rem 0rem 4rem 1rem;
	text-decoration: none;
	color: black;
}

.product-card__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1rem;
}

.product-card__price {
	padding: 0rem 0rem 0rem 1rem;
	color: var(--secondary-color);
	font-size: 21px;
	font-weight: 800;
	text-decoration: line-through 2px var(--warn-color);
}

.product-card__actions button.favorite-button {
	color: white;
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	margin-right: 0.5rem;
	padding: 1rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.product-card__actions button.favorite-button:hover {
	color: var(--secondary-color);
	background-color: white;
	border: 2px solid var(--secondary-color);
	cursor: pointer;
}

.product-card__actions button.shopping-cart-button {
	color: white;
	background-color: var(--warn-color);
	border: 2px solid var(--warn-color);
	margin-right: 1rem;
	padding: 1rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.product-card__actions button.shopping-cart-button:hover {
	color: var(--warn-color);
	background-color: white;
	border: 2px solid var(--warn-color);
	cursor: pointer;
}

/*
	Product Card Horizontal
*/
.product-card--horizontal {
	display: flex;
	flex-direction: row;
	background-color: white;
	color: black;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	height: 10rem;
	margin: 5rem;
}

.product-card--horizontal img {
	display: block;
	height: 100%;
	width: 10rem;
	object-fit: cover;
	transition: 0.25s;
}

.product-card--horizontal:hover {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

.product-card--horizontal__content {
	margin: 1rem 2rem 2rem 2rem;
	width: 100%;
}

.product-card--horizontal__title {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.product-card--horizontal__title a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.product-card--horizontal__title p {
	margin: 0;
	color: var(--dark-gray);
}

.product-card--horizontal__body {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.product-card--horizontal__actions a {
	color: var(--warn-color);
}

.product-card--horizontal__price {
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 28px;
}

/*
	Grid
*/

.trending,
.bestsellers,
.pre-order {
	margin: 15rem;
}

.grid-header {
	display: flex;
	justify-content: space-between;
}

.grid-header h2 {
	color: var(--primary-color);
	margin: 1rem 0;
}

.grid-body {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

/*
	Small button
*/
.small-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	border-radius: 4px;
	font-weight: 600;
	margin: 1rem 0;
	width: 122px;
	height: 26px;
}

.small-button:hover {
	color: var(--secondary-color);
	background-color: transparent;
}

/*
	Modal
*/
.modal {
	visibility: hidden;
	opacity: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	transition: visibility 0s, opacity 0.1s linear;
}

.modal.active {
	visibility: visible;
	opacity: 1;
}

.modal__card {
	background-color: white;
	margin: 15% auto;
	padding: 2rem;
	width: 50%;
	border-radius: 4px;
}

.modal__header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
}

.modal__header i {
	font-size: 2rem;
	margin-right: 1rem;
}

.modal__header .modal__title {
	text-transform: uppercase;
}

.modal__close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-right: 1rem;
}

.modal__close:hover {
	cursor: pointer;
}
